<%- include("partials/header.ejs") %>

<div class="container-flex">
    <div class="row mx-auto" >
    <h1>We do not know of a quest book written in <%= publicationDate %>.</h1>

    <p class="user"></p>
    <div class="container-fluid">
         <div class="row">
        <div class="col p-3">
            <div class="card mx-auto">
                <p>Your personal quest was created when you were born; however, we do not know who was writing their own quest that year.</p> 
            </div>

        <div class="col p-3 mb-2">
        <a class="user" href="/">Click here to go back and try another year.</p>
      </div>
         </div>
    </div>
  
    <%- include("partials/footer.ejs") %>